@import "../../../../assets/styles/main";

button {
   border-radius: 2px;
   background-color: $electric-blue;
   color: $white;
   padding: 10px 18px;
   font-size: 16px;
   font-weight: 600;
   transition: all 0.2s ease-in-out;
   display: inline-block;

   &:hover {
      background-color: darken($electric-blue, 5%);
   }

   &:disabled {
      opacity: .4;
      cursor: not-allowed;
   }
}

.cancel {
   background-color: $white;
   color: #545e6f;

   &:hover {
      background-color: $white;
   }
}

.delete {
   background-color: $red;
   align-self: flex-start;

   &:hover {
      background-color: darken($red, 5%);
   }
}
