<div class="schedule-assign">

   <div class="schedule-assign__modal">
      <div class="schedule-assign__title">
         <h1>
            <img alt="assign" height="24" ngSrc="assets/img/{{ section.type === 'workouts' ? 'workout' : 'food' }}.svg" width="24">
            Assign {{ section.type }}
         </h1>
         <a class="btn__add">
            <img alt="add" height="24" ngSrc="assets/img/add-white.svg" width="24">
            New {{ section.type }}
         </a>
      </div>

      <div class="schedule-assign__list">
          <span *ngIf="!section[section.type]?.length" class="schedule-assign__empty">
            <img alt="face" height="24" ngSrc="assets/img/face.svg" width="24">
            Nothing here to assign
          </span>
         <div (click)="toggleItem(item.name)" *ngFor="let item of section[section.type]" [class.active]="exists(item.name)">
            {{ item.name }}
         </div>
      </div>

      <div class="schedule-assign__submit">
         <div>
            <ft-button (click)="updateAssign()" class="button">
               Update
            </ft-button>
            <button (click)="cancelAssign()" class="button button--cancel" type="button">
               Cancel
            </button>
         </div>
      </div>
   </div>

</div>
